pip install --upgrade coverage
pip install --upgrade email-validator
pip install --upgrade Flask
pip install --upgrade Flask-Bcrypt
pip install --upgrade Flask-DebugToolbar
pip install --upgrade Flask-Login
pip install --upgrade Flask-Mail
pip install --upgrade Flask-Migrate
pip install --upgrade Flask-Script
pip install --upgrade Flask-SQLAlchemy
pip install --upgrade Flask-Testing
pip install --upgrade Flask-WTF
pip install --upgrade itsdangerous
pip install --upgrade SQLAlchemy
pip install --upgrade wtforms
