p {
	font-family: Sans-serif;
	font-size: 14px;
	flex-wrap: wrap;
	text-align: center;

}

.heading {
	text-align: center;
	font-weight: medium;
}

.signup-button {
	margin: 0 auto;
	width: 400px;
	height: 50px;
	border: 1px solid blue;
	color: white;
	border-radius: 4px;
}

.childContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.features {
    width: 300px;
    margin-bottom: 50px;
    border: 3px solid black;
}

.image img {
    width: 100%;
    border-radius: 10px;
}

.description {
    text-align: center;
}
    
.text {font-size: 16px;
    color: #555;
}

